* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
.sidebar {
  width: 300px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  background: #10e30c;
}
.sidebar-brand img {
  width: 140px;
}
a {
  text-decoration: none;
}

.sidebar-brand {
  text-align: center;
  font-size: 20px;
  display: block;
  color: #ffffff;
  margin-bottom: 50px;
  font-size: 23px;
  font-weight: 600;
  padding-top: 10px;
}
.sidebar-brand.nav-brand {
  color: #10e30c;
  text-align: left;
  margin-bottom: 0;
}
.main-area {
  width: calc(100vw - 300px);
  position: relative;
  margin-left: 300px;
  background: #f1f1f1;
  min-height: 100vh;
}

.main-content {
  padding: 20px 25px;
}

.content {
  background: #ffffff;
  width: 100%;
}

.sidebar-link-item {
  padding: 0 14px;
}

.sidebar-link-item .sidebar-link {
  display: flex;
  align-items: center;
  padding: 20px 15px;
  font-size: 15px;
  gap: 13px;
  color: #ffffff;
  border-radius: 8px;
  transition: 600ms;
}

.sidebar-link:hover,
.sidebar-link.active {
  background: rgba(246, 250, 246, 0.492);
}
ul {
  list-style: none;
}
.user-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background: #ffffff;
}
.nav-link-item {
  position: relative;
}

.nav-link-item .link-text {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  background: #f0f0f0;
  color: #202020;
  padding: 12px 11px;
  font-size: 15px;
  border-radius: 10px;
  padding: 13px 20px;
}
.nav-link-item .text {
  color: #202020;
}
.nav-sub-items .link-text {
  display: block;
  border-radius: 0;
}
.nav-sub-items .link-text:hover {
  color: #10e30c !important;
  background: #ffffff;
  display: block;
}

.nav-sub-items {
  position: absolute;
  top: 50px;
  width: 200px;
  left: -120px;
  background-color: #f7f0f7;
  padding: 10px 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: translateY(50px);
  transition: 600ms;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
  z-index: 20;
}

.nav-link-item.nav-link-active .nav-sub-items {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0);
}

.btn-row {
  display: flex;
  gap: 14px;
}

.page-title {
  color: #10e30c;
  margin-bottom: 20px;
  font-size: 16px;
  padding-left: 30px;
}

.page-header {
  padding: 20px 30px;
}

.crud-form {
  padding: 20px 30px;
}

.form-header {
  font-size: 17px;
  padding: 20px 0;
  color: #1976d2;
  font-weight: 900;
}

.pagination-section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
}

.message-box {
  color: #404040;
  text-align: center;
  padding: 30px 0;
  font-size: 15px;
}

.input-row {
  margin-bottom: 28px;
}

.table-head {
  background: #f0f0f0;
}

.striped {
  background: #ececec;
}

.table-container {
  padding: 20px;
}

.form-grid-row {
  margin-bottom: 20px;
}

.submit-btn {
  margin-top: 30px !important;
}

.modal-component {
  min-width: 500px;
}

.category-list th,
td {
  white-space: nowrap;
}

.info {
  text-align: center;
}
.info a {
  color: #1976d2;
  font-weight: 600;
}

.auth-header {
  margin-bottom: 18px;
  text-align: center;
}

.auth-logo {
  width: 150px;
}

.table-body-o {
  max-height: 300px;
  overflow-y: auto;
}

.p-form-container {
  padding: 50px 14px 20px;
}
.dash-summary {
  font-size: 17px;
  margin-bottom: 35px;
  padding: 0 0 0 16px;
}
.dash-summary .success {
  color: #10e30c;
  margin-left: 7px;
}
.analytics-item {
  background: #ffffff;
  padding: 35px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  border-bottom: 4px solid #10e30c;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.analytics-item .a-icon {
  font-size: 28px;

  color: #2e7d32;
}
.analytics-item h1 {
  font-weight: 700;
}

.analytics-item p {
  font-size: 17px;
  font-weight: 500;
  margin-top: 5px;
  /* white-space: nowrap; */
}

.analytics-container {
  margin-bottom: 20px;
}
.bar-chart-container {
  padding: 40px;
}

.bar-chart-area {
  background: #ffffff;
  padding: 15px;

  height: 500px;
}

/* landing page design */

.top-bar {
  position: fixed;

  top: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  border-bottom: 1px solid #f1f1f1;
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.10);
}

.top-bar .topbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:17px 50px;
}
.landing-container{
  margin: 0 auto;
  max-width: 1150px;
}
.top-bar img{
  width: 130px;
}

.list-items-container {
  display: flex;
  align-items: center;
  column-gap: 15px;
}

.list-item {
  list-style-type: none;
}
.list-link{
  color: #202020;
}

.list-link:hover{
  color: #10e30c;
}


.hero-section {
  background-color: #ffffff;
  /* padding-top:100px; */
  height: 100vh;
display: flex;
align-items: center;
justify-content: center;
}
.hero-section .landing-container{
  margin-left: unset!important;
  align-items: center;
}


#rating-label{
  margin-bottom: 100px!important;
}
.text-content{
  background: #ffffff;
  padding: 30px;
  box-shadow: 0 6px 13px rgba(0, 0, 0, 0.2);
  margin-top: 100px!important;
}

.text-content h1 {
  font-size: 27px;
  margin-bottom: 20px;
  color: #10e30c;
}

.text-content p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.get-started-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 18px;
}

.get-started-button:hover {
  background-color: #0056b3;
}

.image-content img {
  max-width:150%;
}


/* features section */

.features-section {
  padding: 40px;
  background-color: #ffffff;
}

.feature-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.feature-card {
  margin: 20px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 300px;
}

.feature-icon {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.feature-title {
  font-size: 18px;
  margin-bottom: 10px;
  color: #2e7d32;
}

.feature-description {
  font-size: 14px;
  color: #666666;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.footer-img {
  width: 100px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.copyright {
  font-size: 14px;
}

.social-icons {
  display: flex;
}

.social-icon {
  color: #fff;
  font-size: 24px;
  margin-left: 10px;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #ccc;
}

/* testimonials */
.testimonial-section {
  padding: 40px;
  background-color: #f8f8f8;
}

.section-title {
  text-align: center;
  margin-bottom: 30px;
  color: #10e30c;
}

.slick-slide > div {
  padding: 0 10px;
}

.testimonial-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.rating {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.star-icon {
  color: #ffc107;
  margin: 0 2px;
}

.description {
  margin-bottom: 15px;
}

.author {
  font-weight: bold;
}